<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="{{ path('dashboard')}}" class="logo d-flex align-items-center">
            {# <img src="assets/img/logo.png" alt=""> #}
            <span class="d-none d-lg-block">ZealMini</span>
        </a>
        <i class="fa-solid fa-bars toggle-sidebar-btn"></i>
    </div>

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Entrez un mot-clé pour la recherche">
        <button type="submit" title="Rechercher"><i class="fa-solid fa-magnifying-glass fa-sm"></i></button>
        </form>
    </div>

    {% include "@components/header/navigation.html.twig" %}

</header>