{% extends "layouts/base.html.twig" %}

{% block body %}

    {% include '@partials/header.html.twig' %}

    {% include '@partials/sidebar.html.twig' %}

    <main id="main" class="main">
        <div class="pagetitle">
            <h1>{% block titlePage %}{% endblock %}</h1>
            {% include '@components/breadcrumb.html.twig' %}
        </div>

        <section>
            {% block content %}{% endblock %}
        </section>
    </main>

    {% include '@partials/footer.html.twig' %}

{% endblock %}