<nav class="header-nav ml-auto">
    <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </li>

        {% include "@components/header/notification.html.twig" %}

        {% include "@components/header/profile.html.twig" %}

    </ul>
</nav>