@charset 'utf-8';

@import "utils/_variables";

// Bootstrap
@import 'bootstrap/scss/bootstrap';

/*! Utilities */
@import "utils/_mixins";
@import "utils/_fonts";
@import "utils/_responsive";
@import "utils/_print";

/*! Components */
@import "components/_border";
@import "components/_buttons";
@import "components/_text";
@import "components/_flashes";

/*! Layout */
@import "layouts/_header";
@import "layouts/header/navigation";
@import "layouts/_sidebar";
// @import "layouts/_footer";

@import "pages/_error";

#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}

@media (max-width: 1199px) {
    #main {
        padding: 20px;
    }
}