body {
  @include fontNunito();
  background: #f6f9ff;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
  outline: none;

  &:hover {
    color: #717ff5;
  }
}

hr {
  width: 100%;
  background-color: $black;
  border: 0 none;
}

small, .small {
  font-size: 12px;
  color: $gray-700;
}