{% extends 'layouts/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <form method="post" class="form-signin">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {# <img class="mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> #}
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" value="{{ last_username }}" class="form-control" name="email" id="inputEmail" placeholder="exemple@exemple.com" required autofocus>

        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" class="form-control" name="password" id="inputPassword" placeholder="******"  autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <div class="checkbox mb-3">
            <label>
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Connexion
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>

{% endblock %}
